@import './components/alert.css';
@import './components/camera.css';
@import './components/cluster.css';
@import './components/login.css';
@import './components/signupview.css';
@import './components/sidebar.css';
@import './components/estatistica.css';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}